<IfModule mod_rewrite.c>
        RewriteEngine On

        RewriteBase /

        # SSL Rewrite
        RewriteCond %{SERVER_PORT} 80
        RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

	## http://www.mediawiki.org/wiki/Manual:Short_URL/Apache
        # Enable the rewrite engine
        RewriteEngine On

        # Short URL for wiki pages
        RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/mediawiki/index.php [L]
</IfModule>
